<h3 class="ui header">{{t "forms.i-i-s-hotel-пасп-данные-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-hotel-пасп-данные-e.фИО-caption")
      data-test-i-i-s-hotel-пасп-данные-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-hotel-пасп-данные-e.датаРожд-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаРожд
      class=(if (v-get validationModel "датаРожд" "isInvalid") "error")
      data-test-i-i-s-hotel-пасп-данные-e-датаРожд=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаРожд" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.серияПаспорта
      class=(if (v-get validationModel "серияПаспорта" "isInvalid") "error")
      label=(t "forms.i-i-s-hotel-пасп-данные-e.серияПаспорта-caption")
      data-test-i-i-s-hotel-пасп-данные-e-серияПаспорта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "серияПаспорта" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерПаспорта
      class=(if (v-get validationModel "номерПаспорта" "isInvalid") "error")
      label=(t "forms.i-i-s-hotel-пасп-данные-e.номерПаспорта-caption")
      data-test-i-i-s-hotel-пасп-данные-e-номерПаспорта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерПаспорта" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.гражданство
      class=(if (v-get validationModel "гражданство" "isInvalid") "error")
      label=(t "forms.i-i-s-hotel-пасп-данные-e.гражданство-caption")
      data-test-i-i-s-hotel-пасп-данные-e-гражданство=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "гражданство" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-hotel-пасп-данные-e.инГражд-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.инГражд
      class=(if (v-get validationModel "инГражд" "isInvalid") "error")
      data-test-i-i-s-hotel-пасп-данные-e-инГражд=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "инГражд" "message")}}
  </div>
</form>
